.profile-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

@keyframes loading{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
.createPost-profile{
    text-align: center;
    background-color: beige;
    border-radius: 20px;
  }
  .createPost-profile input{
      border-radius: 20px;
      margin-left: 10px;
      margin-bottom: 10px;
  }
  .user-list a{
      text-decoration: none;
      color: rgb(164, 73, 73);
    }
  
  .profile-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: azure;
  }
  .profile-card img{
     max-height: 300px;
     max-width: 700px;
  }